.background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.content-stars {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: rotate(-40deg);
  z-index: -1;

  .star, .star2, .star3 {
    position: fixed;
    object-fit: contain;
    width: 150px;
    transform: rotateZ(38deg);

    @media (max-width: 600px) {
      width: 100px;
    }
    
    &.star {
      animation: star 7s linear infinite;
      top: 0;
    }
  
    &.star2 {
      animation: star2 7s linear infinite;
      top: 60%;
      animation-delay: 4s;
    }

    &.star3 {
      animation: star 7s linear infinite;
      top: 100%;
      animation-delay: 2s;
    }
  
    @keyframes star {
      0% {
        right: -100%;
      }
  
      100% {
        opacity: .2;
        right: 100%;
      }
    }
  
    @keyframes star2 {
      0% {
        right: -100%;
      }

      65% {
        right: 100%;
      }
      
      80% {
        opacity: 0;
      }
    }
  }
}


.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  @media (max-width: 700px) {
    min-height: 50vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    min-height: 70px;
    align-items: center;

    h2 {
      color: rgba(255, 255, 255, 0.7);
      font-family: Ubuntu;
      font-size: 3rem;
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 60px;
        height: 60px;
      }

      @media (max-width: 700px) {
        width: 100%;
        text-align: center;
      }
    }

    div {
      display: flex;
      gap: 50px;
      margin-right: 50px;

      @media (max-width: 786px) {
        display: none;
      }


      span {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: Ubuntu;
        padding: 10px;
        border-radius: 10px;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.5s ease-out 0s;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 20px, rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
        }

        &:active {
          transform: scale(.8);
          transition: 0s;
        }
      }
    }
  }

  .body {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow: hidden;

    @media (max-width: 700px) {
      top: 0;
      margin: 30px 0;
      position: inherit;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      @media (max-width: 1200px) {
        width: 100%;
        margin-bottom: 40px;
      }
    }
  
    .right {
      width: 40%;
      display: grid;
      place-content: center;
  
      @media (max-width: 1200px) {
        display: none;
      }
  
      picture {
        position: relative;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: drop-shadow(10px 10px 20px rgb(0 0 0 / 50%));
          transform: scale(.8);
        }
        // &::after {
        //   content: 'IMAGE IN PROCESS';
        //   position: absolute;
        //   top: 40%;
        //   left: -10%;
        //   text-align: center;
        //   font-size: 6rem;
        //   font-weight: bold;
        //   width: 100%;
        //   font-family: Ubuntu;
        //   transform: rotate(-35deg);
        //   color: rgba(0, 0, 0, 0.8);
        //   background-color: #ffe600b2;
        //   box-shadow: 0 0 30px black;
        //   padding: 10px;
        //   border-radius: 8px;
        // }
      }
    }
  }

}

.body-page {
  width: 100%;
  padding: 100px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 700px) {
    gap: 30px;
    padding: 30px;
    margin-top: -70px;
  }

  .aboutMe {
    width: 100%;
    display: flex;
    gap: 90px;
    box-sizing: border-box;

    @media (max-width: 820px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  .experience {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      display: inline;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 4rem;
      font-family: Ubuntu;
      margin: 70px 0;

      @media (max-width: 700px) {
        margin: 50px 0;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      display: inline;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 4rem;
      font-family: Ubuntu;
      margin: 70px 0;

      @media (max-width: 700px) {
        margin: 50px 0;
      }
    }

    & > div {
      box-sizing: border-box;
      width: 100%;
      margin: 0 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      place-items: center;
      column-gap: 30px;
      row-gap: 30px;

      @media (max-width: 700px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      display: inline;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 4rem;
      font-family: Ubuntu;
      margin: 100px 0 50px;

      @media (max-width: 700px) {
        margin: 50px 0;
      }
    }
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 30px;
  position: relative;
  flex-wrap: wrap;

  & > a {
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    transition: .6s;
    
    &:hover {
      color: #bb9af7;
      color: #7dcfff;
      border: 2px solid #7dcfff;
      box-shadow: 0 0 10px #7dcfff;
      border-radius: 50%;
      transform: scale(1.1) rotateZ(90deg);
      transition: .4s;
    }
    
    .icons {
      font-size: 4rem;
      padding: 7px;
      border-radius: 6px;
      color: rgba(255, 255, 255, 0.7);
      transition: all .2s ;
    }

    &:hover .icons{
      color: #7dcfff;
      transform: rotateZ(-90deg);
      transition: all .2s ;
    }
  }

  span {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 50px;

    @media (max-width: 960px) {
      right: auto;
      position: relative;
    }
    
    a {
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: bold;
      font-family: Ubuntu;
      color: rgba(255, 255, 255, 0.7);
      
      &:hover {
        color: #7dcfff;
      }
    }
  }
}
