.head {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../public/images/background3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: 700px) {
    min-height: 50vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    min-height: 70px;
    align-items: center;

    h2 {
      color: rgba(255, 255, 255, 0.808);
      font-family: Ubuntu;
      font-size: 3rem;
    }

    div {
      display: flex;
      gap: 50px;
      margin-right: 50px;

      @media (max-width: 786px) {
        display: none;
      }


      span {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: Ubuntu;
        padding: 10px;
        border-radius: 10px;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.5s ease-out 0s;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 20px, rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
        }

        &:active {
          transform: scale(.8);
          transition: 0s;
        }
      }
    }
  }

  .body {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow: hidden;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .left {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      @media (max-width: 1200px) {
        width: 90%;
      }
    }
  
    .right {
      width: 40%;
      display: grid;
      place-content: center;
  
      @media (max-width: 1200px) {
        display: none;
      }
  
      picture {
        position: relative;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}

.body-page {
  width: 100%;
  padding: 100px 70px;
  box-sizing: border-box;

  @media (max-width: 700px) {
    padding: 50px 30px;
  }

  .aboutMe {
    width: 100%;
    display: flex;
    gap: 90px;
    box-sizing: border-box;

    @media (max-width: 820px) {
      flex-direction: column;
      gap: 30px;
    }


    .tecnlogies {
      display: flex;
      align-items: center;
      width: 50%;
      min-height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 15px;
      padding: 0 20px;
      box-sizing: border-box;

      @media (max-width: 820px) {
        justify-content: center;
        width: 100%;
      }
      
      h2 {
        font-size: 4rem;
        font-family: Ubuntu;
        display: inline;
        text-align: end;
      }
    }

    .about-me {
      width: 50%;
      min-height: 100%;
      box-sizing: border-box;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.7);
      
      @media (max-width: 820px) {
        width: 100%;
      }

      h2 {
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 4rem;
        font-family: Ubuntu;

        @media (max-width: 820px) {
          text-align: center;
        }
      }

      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 2rem;
        font-family: Ubuntu;
        line-height: 30px;
      }
    }

  }

  .other-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      display: inline;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-size: 4rem;
      font-family: Ubuntu;
      margin: 100px 0;

      @media (max-width: 700px) {
        margin: 50px 0;
      }
    }

    & > div {
      box-sizing: border-box;
      width: 100%;
      margin: 0 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      place-items: center;
      column-gap: 30px;
      row-gap: 50px;

      @media (max-width: 700px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
  }
}